html{
    font-family: 'Ubuntu', sans-serif;
    background-color: #292929;
    font-size: 14px;
    margin: 0;
    padding: 0.5% 6% 0 6%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
.header a{
    text-decoration: none;
    text-align: center;
    color: #eceff1;
    margin-left: 10px;
    margin-right: 10px;

}
.border {
    padding-top: 1%;
    border-bottom: dotted 2px  #eceff1;
}
.header a:hover{
    color: #35C46B;
    text-decoration: dotted;
}
.img img{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}
.header {
    text-align: center;
    color: #eceff1;

}
.main{
    text-align: justify;
    color: #eceff1;
}
.main a{
    text-align: justify;
    color: #35C46B;
    text-decoration: none;
}
.main a:hover{
    color: #eceff1;
    text-decoration: underline;
}
.main-about{
    text-align: justify;
    color: #eceff1;
}
.main-about img{
    width: 100px;
    padding-top: 2%;
    height: auto;
    display: block;
    margin: auto;
}
footer{
    color: #eceff1;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
pre{
	color: #8E8E8E;
}
