* {
    font-family: open sans,Helvetica,sans-serif;
}
body {
    background-color: #000000;
}
div.heading {
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    padding: 0px;
    margin: 0;
    top: 0px;
    left: 0px;
    background-color: rgb(32, 32, 32);
    background-image: url("img/background.jpeg");
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    div.heading {
        font-size: 30px;
    }
    div.sub_heading {
        font-size: 15px;  
    }

    ul.nav {
        font-size: 12px;
    }

    .main p {
        font-size: 12px;
    }

    .head {
        font-size: 25px;
    }
}

@media screen and (min-width: 701px) {
    div.heading {
        font-size: 50px;
    }

    div.sub_heading {
        font-size: 25px;  
    }

    ul.nav {
        font-size: 20px;
    }

    .main p {
        font-size: 17px;
    }

    .head {
        font-size: 40px;
    }

}

div.sub_heading {
    text-align: center;  
}

ul.nav {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

li {
    float: left;

}

li a {
    display: inline-block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    transition: all .3s;
}

li a:hover {
    background-color: rgb(74, 117, 197);
}
li a.active {
    background-color: rgb(43, 73, 128);
}


div.main {
    background-color: #000000;
}

.main p {
    color: rgb(233, 233, 233);
    font-weight: lighter;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.head {
    color: #fff;
    text-align: center;
    font-weight: lighter;
}
.ScreenShot {
    display: grid;
    height: 100%;
}
.image {
    max-width: 60%;
    max-height: 60vh;
    margin: auto;
}